.innocode-block-logo {
	margin: 2em;
    padding: 1em;

	&__link,
	&__image {
		display: block;
	}

	&__caption {
	    &_left {
		    text-align: left;
	    }

	    &_center {
		    text-align: center;
	    }

	    &_right {
		    text-align: right;
	    }
	}
}
