.wpd-block-logo {
	padding: 1em;

	&__link,
	&__image {
		display: block;
	}

	&__image {
		margin: 0 auto;
	}

	&__caption {

		&_left {
			text-align: left;
		}

		&_center {
			text-align: center;
		}

		&_right {
			text-align: right;
		}
	}
}
