.innocode-block-logos {

	&__title {

		.editor-styles-wrapper & {
			margin: 0;
		}
	}

	.block-editor-block-list {

		&__layout {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin-bottom: 1em;
		}
	}

	&.alignleft .block-editor-block-list__layout {
	    justify-content: flex-start;
	}

	&.alignright .block-editor-block-list__layout {
	    justify-content: flex-end;
	}

    &__list {

		&_left .block-editor-block-list__layout {
		    justify-content: flex-start;
		}

		&_right .block-editor-block-list__layout {
		    justify-content: flex-end;
		}
    }
}
