.innocode-block-logos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
	width: 100%;

	&__header {
		margin-bottom: 1em;
	}

	&__title,
	&__description {
		text-align: center;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: 1em;

		&_left {
			justify-content: flex-start;
		}

		&_right {
			justify-content: flex-end;
		}

	    & > * {
		    margin: 2em;
		}
	}
}
